name: Build & Publish Multiarch Container

on:
  workflow_dispatch:

env:
  SHA: ${{ github.sha }}

jobs:
  do_it:
    runs-on: ubuntu-latest

    permissions:
      packages: write

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: qemu
        uses: docker/setup-qemu-action@v1

      - name: dockerx setup
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: docker login
        run: echo "${{ secrets.DOCKERHUB_CRNT_PASSWORD }}" | docker login -u crnt --password-stdin

      - name: build and push
        run: |
          docker buildx build --push --tag docker.io/crnt/multiarch_container:${SHA::6} --platform linux/amd64,linux/arm64/v8 .
          docker buildx build --push -f --tag docker.io/crnt/multiarch_container:latest --platform linux/amd64,linux/arm64/v8 .
